#bar
{
    background-color: rgb(40, 71, 156);
    height: 35px;
    width: 1200px;
    
    margin: 0 auto;
    text-align: center;
    

}

#text-buttons
{
    padding: 0;
    margin: 0;
  
} 

.bar-button
{
    background-color: rgb(40, 71, 156);
    color: rgb(238, 238, 238);
    height: 100%;
    margin: 0;
    padding: auto 10px;
    width: auto;
    min-width: 80px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    float: left;
    border: 0;
    outline: 0;
    font-size: large;
    font-weight: bolder;
}

.bar-button:hover
{
    background-color: rgb(213, 243, 248);
    color: black;
}

input
{
    width: 20%;
    height:70%;
    position: relative;
    float: right;
    margin-top: 5px;
    outline: 0;
    border: 0;
    padding-left: 5px;

}

#search-button
{
    width: 25px;
    height: 70%;
    position: relative;
    float: right;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 8px;
    padding-left: 30px;
    border-radius: 0 5px 5px 0;
    outline: 0;
    border: 0;
    background-image: url("loup.png");
    background-size: 85%;
    background-position-x: 1px;
    background-position-y: -1px;
    cursor: pointer;


}


select
{
    position: relative;
    top: 10%;
    height: 70%;
    float: right;
    margin-top: 5px;
    border-radius: 5px 0  0 5px ;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;

    
    outline: 0;


}



